<div class="row">
  <div class="col-12 col-xl-4">
    <div class="card">
    <h3 class="card-header primary-color-dark white-text">
        <i class="fa fa-address-card"></i> <span>Persional data</span>
    </h3>
    <div class="card-body">
      <!-- <div class="md-form" >
        <mdb-completer [placeholder]="Country" [(ngModel)]="selectedCountryName" (change)="onTextChangeCountry()" [datasource]="countryDS" [minSearchLength]="0" #item (selected)="onSelectChangeCountry($event)"></mdb-completer>              
      </div> -->

      <label text="birthDate">Birthday doesn't display given value</label>
      <div class="md-form">
        <input type="date" id="birthDate" class="form-control" [ngModel]="birthDate" mdbActive >
      </div> 


      <label text="birthDate">Birthday (datetime)</label>
      <div class="md-form">
        <input type="datetime" id="birthDate" class="form-control" [ngModel]="birthDate" mdbActive >
      </div> 

      <label text="birthDate">Birthday picker</label>
      <mdb-date-picker id="birthDatePicker" name="birthDatePicker" [options]="myDatePickerOptions"  [ngModel]="birthDate" mdbActive>
      </mdb-date-picker>
      
      <!-- <div class="md-form">
        <mdb-date-picker id="birthday" name="birthday" [options]="myDatePickerOptions" [(ngModel)]="birthDate"></mdb-date-picker>
        <label [class.active]="birthday" for="birthday">Your Birthday</label>
      </div> -->
    </div>
  </div>
</div>